
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=UnifrakturMaguntia&display=swap');


/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}


html{
  height: 100%;
  box-sizing: border-box;
}
body {
  font-family: 'Google Sans Flex';
  height: 100%;

}

header {
  height: 15vh;
}

h1{
  padding: 1em auto;
}
main {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 1em;
}
.wrapper {
  display: grid;
  min-height: 100%;
  grid-template-rows: auto 1fr auto;
  margin: 0 auto;
  padding: 1em;
}

footer {
  padding: 1em;
  
}

.bookCover {
  border: solid 1px black;
  padding: 10px;
  border-radius: 0.5em;
  position: relative;
  display: grid; 
  grid-template-rows: 1fr auto;
  /* repeat(minmax(1em, auto))*/
  gap: 0.6em;


}


.bookTitle{
  margin: 1em 0.15em auto auto;
 line-height: 1.1;
 font-family: "Montserrat";
 font-size: 1.65em;
 
}

.bookAuthor {
  font-style: italic;
  font-weight: 600;
}

.bookTopic span{
  border: solid 1px #000;
  padding: 2px 4px;
  margin: auto;
  background-color: #69696945;
  color: #333;
}

.bookFormat {
  font-style: italic;
  text-decoration: underline;
}
.getNewBook {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


#newBook-btn {
  appearance: none;
  background-color: transparent;
  border: 1px solid #1A1A1A;
  border-radius: 0.2em;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0.5em auto;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
 
  will-change: transform;
}

#newBook-btn:disabled {
  pointer-events: none;
}

#newBook-btn:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

#newBook-btn:active {
  box-shadow: none;
  transform: translateY(0);
}
  

.shelf{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

.readBook-tag {
  font-weight: 700;
  justify-items: center;
  justify-content: center;
  align-content: center;
  padding: 1px;
  color: #fff;
  background-color: rgb(98, 87, 151);
  border: solid 1px rgb(76, 50, 205);
  border-radius: 0.3em;
  width: 33%;
  height: 30px;
  position: absolute; 
  bottom: 0;
  right: 0;
}

.readBook-label{
  text-align: center;
}

.deleteBtn{
  margin: 0.35em;
  position: absolute;
  top: 0;
  right: 0;
}
input[type="checkbox"] {
  width: 1.15em;
  height: 1.15em;
  border: 0.10em solid rgb(143, 60, 143);
  border-radius: 0.10em;
  transform: translateY(-0.075em);

}



#bookForm {
  display: none;

  
}